<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Mis Ordenes</h1>

  <div class="order-items">
    <ion-card mode="ios" *ngFor="let order of arrayOfOrders; let index=index">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/logo_login.png' />
        </div>

        <div class="item-info">
          <p>Orden #{{index+1}}</p>
          <p>{{order.orderTime | date}}</p>
          <p>{{order.total | currency}}</p>

          <ion-button expand="block" class="main-button">Detalle</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
