<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let product of products">
      <ion-card-content>
        <div class="item-img">
          <img src="{{product.image}}" />
        </div>

        <div class="item-info">
          <p>{{product.name}}</p>
          <!-- <p>Lotto.LTD</p> -->
          <p>${{product.price}}</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <h2 class="title">Total</h2>
  <h3 class="title">{{productTotal}}</h3>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/checkout"
      routerDirection="forward">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
