<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items" *ngIf="cartCount">
    <ion-card mode="ios" *ngFor="let product of products">
      <ion-card-content>
        <div class="item-img">
          <img src="{{product.image}}" />
        </div>

        <div class="item-info">
          <p>{{product.name}}</p>
          <!-- <p>Lotto.LTD</p> -->
          <p>${{product.price}}</p>

          <div class="qty-selector">
            <ion-button fill="clear" (click)="decreaseQuantity(product, product.quantity)">-</ion-button>
            <ion-label>{{product.quantity}}</ion-label>
            <ion-button fill="clear" (click)="increaseQuantity(product)">+</ion-button>
          </div>

        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <h2 class="title" *ngIf="cartCount">Total</h2>
  <h3 class="title" *ngIf="cartCount">{{productTotal | number:'2.1-4'}}</h3>
  <div class="content-details" *ngIf="!cartCount">
    <div class="content-details__title">
      Aun no has agregado productos a tu carrito.
    </div>
  </div>
</ion-content>



<ion-footer translucent="true" class="ion-no-border" mode="md"
  *ngIf="cartCount">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" (click)="addOrder()"
      routerDirection="forward">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
