<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu" color="dark"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="toolbar-content">
      <ion-item lines="none">
        <ion-input placeholder="Buscar productos"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification" routerLink="/cart"
        routerDirection="forward">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter" routerLink="/profile"
        routerDirection="forward">
        <ion-icon name="person-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Buscar productos"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>Categorias</h2>
    <p>Ver más</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor:
      true }">
      <ion-slide *ngFor="let category of categories">
        <!-- <ion-row>
          <h4>{{ category.name }}</h4>
        </ion-row> -->
        <ion-col>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Productos</h2>
    <p>Ver más</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor:
      true }">
      <ion-slide *ngFor="let product of featuredProducts">
        <ion-col class="ion-text-left" routerLink="/itemdetails"
          routerDirection="forward" (click)="goToItemsDetails(product,
          product.name)">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Recomendados</h2>
    <p>Ver más</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor:
      true }">
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col class="ion-text-left" routerLink="/itemdetails"
          routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
